@model IEnumerable<UserItemDTO>
@{
    ViewBag.Title = "Prehľad responderov / zamestnancov";
}

<header class="main-header">
    <h1>Prehľad používateľov</h1>
    <div class="buttons">
        <a asp-controller="Users" asp-action="Create" class="button button-with-icon">
            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
            </span>
            <span>Pridať respondera</span>
        </a>
    </div>
</header>

<div class="filter-table-form" style="opacity: 0.2">
    <div class="field">
        <label class="label">Podľa&nbsp;mena</label>
        <div class="control">
            <input class="input" type="text">
        </div>
    </div>
    
    <div class="field">
        <label class="label">Podľa&nbsp;telefónu</label>
        <div class="control">
            <input class="input" type="text">
        </div>
    </div>
    
    <div class="field">
        <label class="label">Podľa&nbsp;stavu</label>
        <div class="control">
            <div class="select">
                <select>
                    <option>-</option>
                    <option>Nezaradený</option>
                    <option>Responder</option>
                    <option>Zamestnanec</option>
                </select>
            </div>
        </div>
    </div>
    
    <div class="field">
        <label class="label">Podľa&nbsp;kraju</label>
        <div class="control">
            <div class="select">
                <select>
                    <option>-</option>
                    <option>Trenčiansky kraj</option>
                </select>
            </div>
        </div>
    </div>
</div>

<table class="table is-striped is-narrow is-hoverable is-fullwidth table-with-clickable-link">
    <thead>
    <tr>
        <th>Meno</th>
        <th>Email</th>
        <th>Telefón</th>
        <th>Evidencia</th>
        <th>Stav</th>
        <th>Kraj</th>
        <th>Adresa</th>
    </tr>
    </thead>
    <tbody id="users-table-body">
    @foreach (var user in Model)
    {
        <tr>
            <td><a asp-controller="Users" asp-action="Edit" asp-route-userId="@user.Id">@user.FullName</a></td>
            <td><a asp-controller="Users" asp-action="Edit" asp-route-userId="@user.Id">@user.Email</a></td>
            <td><a asp-controller="Users" asp-action="Edit" asp-route-userId="@user.Id">@user.PhoneNumber</a></td>
            <td><a asp-controller="Users" asp-action="Edit" asp-route-userId="@user.Id">@user.CreatedAt</a></td>
            <td><a asp-controller="Users" asp-action="Edit" asp-route-userId="@user.Id">@user.Type</a></td>
            <td><a asp-controller="Users" asp-action="Edit" asp-route-userId="@user.Id">@user.Region</a></td>
            <td><a asp-controller="Users" asp-action="Edit" asp-route-userId="@user.Id">@user.Address</a></td>
        </tr>
    }
    </tbody>
</table>

<p id="loading-text" class="has-text-centered" style="display: none">Načítavam ďalších používateľov...</p>

@section Scripts
{
    <script src="~/js/pagination-users.js"></script>
}