@model AedFormViewModel

<header class="main-header">
    <h1>Pridať nové AED</h1>
    <div class="buttons">
        <a asp-controller="Aed" asp-action="Index" class="button button-with-icon">
            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
                </svg>
            </span>
            <span>Späť na prehľad AED</span>
        </a>
    </div>
</header>

<div class="user-details-page" x-data="{ formType: '@(Model != null ? Model.GeneralType : AedGeneralType.Public)' }">
    <form asp-controller="Aed" asp-action="Create" enctype="multipart/form-data" class="user-details-form">
        @if(!ViewData.ModelState.IsValid)
        {
            <div class="message is-danger">
                <div asp-validation-summary="All" class="message-body mb-1"></div>
            </div>
        }
        
        <section class="form-section">
            <div class="field">
                <label class="label">Typ</label>
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="GeneralType" value="@AedGeneralType.Public" id="radio-public-aed" x-model="formType" checked>
                        Verejný
                    </label>
                    <label class="radio">
                        <input type="radio" name="GeneralType" value="@AedGeneralType.Personal" id="radio-personal-aed" x-model="formType">
                        Osobný
                    </label>
                </div>
            </div>
            
            <div class="field">
                <label class="label">Stav *</label>
                <div class="control">
                    <div class="select select-full-width">
                        <select asp-for="State" asp-items="Html.GetEnumSelectList<AedState>()">
                        </select>
                    </div>
                </div>
            </div>
        </section>
        
        <template x-if="formType == '@AedGeneralType.Public'">
            <div>
                <input type="file" asp-for="AedPhotoFormFile" id="photo">
                <partial name="_PublicAedFormPartial"/>
            </div>
        </template> 
    
        <template x-if="formType == '@AedGeneralType.Personal'">
            <partial name="_PersonalAedFormPartial" />
        </template>
    
        <partial name="_AedTechnicalDetailsFormPartial"/>

        <div class="field">
            <div class="control">
                <button id="submit-btn" class="button is-link" type="submit">Uložiť</button>
            </div>
        </div>
    </form>
    
    <aside class="user-details-aside">
        <template x-if="formType == '@AedGeneralType.Public'">
            <section>
                <template x-if="formType == '@AedGeneralType.Public'">
                    <header class="section-header">
                        <h2 class="heading-with-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-images" viewBox="0 0 16 16">
                                <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                                <path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2zM14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1zM2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10z"/>
                            </svg>
                            Fotografie
                        </h2>
                        <button class="button">Pridať fotografiu</button>
                    </header>
                </template>

                <div class="mb-5">
                    Neboli nahraté žiadne fotografie.
                </div>
            </section>
        </template>
    </aside>
</div>

@section Scripts
{
    <script src="~/js/find-users-aed.js"></script>
}
