@using FirstResponder.ApplicationCore.Enums
@model IEnumerable<FirstResponder.ApplicationCore.Entities.AedAggregate.Aed>
@{
    ViewBag.Title = "Prehľad AED";
}

<header class="main-header">
    <h1>Prehľad AED</h1>
    <div class="buttons">
        <a asp-controller="Aed" asp-action="Create" class="button button-with-icon">
            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
            </span>
            <span>Pridať AED</span>
        </a>
    </div>
</header>

<div class="filter-table-form" style="opacity: 0.2">
    <div class="field">
        <label class="label">Podľa&nbsp;držateľa</label>
        <div class="control">
            <input class="input" type="text">
        </div>
    </div>
    
    <div class="field">
            <label class="label">Podľa&nbsp;kraju</label>
            <div class="control">
                <div class="select">
                    <select>
                        <option>-</option>
                        <option>Trenčiansky kraj</option>
                    </select>
                </div>
            </div>
        </div>
    
    <div class="field">
        <label class="label">Podľa&nbsp;stavu</label>
        <div class="control">
            <div class="select">
                <select asp-items="Html.GetEnumSelectList<AedState>()">
                    <option>-</option>
                </select>
            </div>
        </div>
    </div>
    
    <div class="field">
        <label class="label">Podľa&nbsp;výrobcu</label>
        <div class="control">
            <div class="select">
                <select asp-items="@ViewBag.Manufacturers">
                    <option value="">-</option>
                </select>
            </div>
        </div>
    </div>
    
    <div class="field">
        <label class="label">Podľa&nbsp;modelu</label>
        <div class="control">
            <div class="select">
                <select asp-items="@ViewBag.Models">
                    <option>-</option>
                </select>
            </div>
        </div>
    </div>
    
    <div class="field">
        <label class="label">Podľa&nbsp;sériového&nbsp;čísla</label>
        <div class="control">
            <input class="input" type="text">
        </div>
    </div>
</div>

<table class="table is-striped is-narrow is-hoverable is-fullwidth table-with-clickable-link">
    <thead>
    <tr>
        <th></th>
        <th>Registrácia</th>
        @*<th>Držateľ</th>*@
        @*<th>Adresa</th>*@
        @*<th>Kraj</th>*@
        @* <th>Dostupnosť</th> *@
        <th>Sériové číslo</th>
        <th>Výrobca</th>
        <th>Stav</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var aed in Model)
    {
        string createAt = aed.CreatedAt.ToString("dd.MM.yyyy HH:mm").ToUpper();
        <tr>
            <td class="table-icon">
                <a asp-controller="Aed" asp-action="Details" asp-route-aedId="aa7dbacd-b067-4400-99e0-2fce0982d6f3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-heart-pulse-fill" viewBox="0 0 16 16">
                        <path d="M1.475 9C2.702 10.84 4.779 12.871 8 15c3.221-2.129 5.298-4.16 6.525-6H12a.5.5 0 0 1-.464-.314l-1.457-3.642-1.598 5.593a.5.5 0 0 1-.945.049L5.889 6.568l-1.473 2.21A.5.5 0 0 1 4 9H1.475Z"/>
                        <path d="M.88 8C-2.427 1.68 4.41-2 7.823 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C11.59-2 18.426 1.68 15.12 8h-2.783l-1.874-4.686a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8H.88Z"/>
                    </svg>
                </a>
            </td>
            <td><a asp-controller="Aed" asp-action="Details" asp-route-aedId="@aed.Id">@createAt</a></td>
            @*<td><a asp-controller="AED" asp-action="Details" asp-route-aedId="@aed.Id"></a></td>*@
            @*<td><a asp-controller="AED" asp-action="Details" asp-route-aedId="@aed.Id"></a></td>*@
            @*<td><a asp-controller="AED" asp-action="Details" asp-route-aedId="@aed.Id"></a></td>*@
            @* <td><a asp-controller="AED" asp-action="Details" asp-route-aedId="@aed.Id"></a></td> *@
            <td><a asp-controller="Aed" asp-action="Details" asp-route-aedId="@aed.Id">@aed.SerialNumber</a></td>
            <td><a asp-controller="Aed" asp-action="Details" asp-route-aedId="@aed.Id">@aed.Manufacturer?.Name</a></td>
            <td><a asp-controller="Aed" asp-action="Details" asp-route-aedId="@aed.Id">@aed.State</a></td>
        </tr>
    }
    @for (int i = 0; i < 1; i++)
    {
        <tr>
            <td class="table-icon">
                <a asp-controller="Aed" asp-action="Details" asp-route-aedId="aa7dbacd-b067-4400-99e0-2fce0982d6f3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-heart-pulse-fill" viewBox="0 0 16 16">
                        <path d="M1.475 9C2.702 10.84 4.779 12.871 8 15c3.221-2.129 5.298-4.16 6.525-6H12a.5.5 0 0 1-.464-.314l-1.457-3.642-1.598 5.593a.5.5 0 0 1-.945.049L5.889 6.568l-1.473 2.21A.5.5 0 0 1 4 9H1.475Z"/>
                        <path d="M.88 8C-2.427 1.68 4.41-2 7.823 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C11.59-2 18.426 1.68 15.12 8h-2.783l-1.874-4.686a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8H.88Z"/>
                    </svg>
                </a>
            </td>
            <td><a asp-controller="Aed" asp-action="Details" asp-route-aedId="aa7dbacd-b067-4400-99e0-2fce0982d6f3">03.10.2023</a></td>
            @*<td><a asp-controller="AED" asp-action="Details" asp-route-aedId="aa7dbacd-b067-4400-99e0-2fce0982d6f3">John Doe</a></td>*@
            @*<td><a asp-controller="AED" asp-action="Details" asp-route-aedId="aa7dbacd-b067-4400-99e0-2fce0982d6f3">Vysokoškolákov 1, 123 456 Trenčín</a></td>*@
            @*<td><a asp-controller="AED" asp-action="Details" asp-route-aedId="aa7dbacd-b067-4400-99e0-2fce0982d6f3">Trenčiansky kraj</a></td>*@
            @* <td><a asp-controller="AED" asp-action="Details" asp-route-aedId="aa7dbacd-b067-4400-99e0-2fce0982d6f3">Prevádzkové dni</a></td> *@
            <td><a asp-controller="Aed" asp-action="Details" asp-route-aedId="aa7dbacd-b067-4400-99e0-2fce0982d6f3">122345</a></td>
            <td><a asp-controller="Aed" asp-action="Details" asp-route-aedId="aa7dbacd-b067-4400-99e0-2fce0982d6f3">Schiller</a></td>
            <td><a asp-controller="Aed" asp-action="Details" asp-route-aedId="aa7dbacd-b067-4400-99e0-2fce0982d6f3">Pripravený</a></td>
        </tr>
    }
    </tbody>
</table>