@using FirstResponder.ApplicationCore.Common.Extensions
@using FirstResponder.ApplicationCore.Common.Enums
@model FirstResponder.ApplicationCore.Incidents.DTOs.IncidentDTO
<header class="main-header">
    <h1>@Model.IncidentForm.Address</h1>
    <div class="buttons">
        <a asp-controller="Incidents" asp-action="Index" class="button button-with-icon">
            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
                </svg>
            </span>
            <span>Prehľad zásahov</span>
        </a>
    </div>
</header>

<partial name="_SuccessMessage" />
<partial name="_ErrorMessages" />

<div class="entity-details-page">
    <div class="entity-details-form">
        <form asp-controller="Incidents" asp-action="Edit" asp-route-incidentId="@Model.IncidentId">
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="message is-danger">
                    <div asp-validation-summary="All" class="message-body mb-1"></div>
                </div>
            }
            
            <section class="form-section">
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <label class="label">Začiatok</label>
                            <div class="control">
                                <input asp-for="CreatedAt" type="text" class="input" disabled>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Koniec</label>
                            <div class="control">
                                <input asp-for="ResolvedAt" type="text" class="input" disabled>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Stav</label>
                    <div class="control">
                        <input value="@Model.State.GetDisplayAttributeValue()" type="text" class="input" disabled>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Adresa *</label>
                    <div class="control">
                        <textarea asp-for="IncidentForm.Address" class="textarea" rows="2" required=""></textarea>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Pacient</label>
                    <div class="control">
                        <input asp-for="IncidentForm.Patient" class="input">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Diagnóza *</label>
                    <div class="control">
                        <textarea  asp-for="IncidentForm.Diagnosis" class="textarea" rows="4" required></textarea>
                    </div>
                </div>
                
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <label class="label">Zemepisná šírka *</label>
                            <div class="control">
                                <input asp-for="IncidentForm.Latitude" class="input" type="number" step=".000001" min="-90" max="90" required>
                            </div>
                        </div>
        
                        <div class="field">
                            <label class="label">Zemepisná dĺžka *</label>
                            <div class="control">
                                <input asp-for="IncidentForm.Longitude" class="input" type="number" step=".000001" min="-90" max="90" required>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <div class="control flex-space-between">
                        <div class="buttons">
                            <button id="submit-btn" type="submit" class="button is-link">Aktualizovať</button>
                            @if (Model.State == IncidentState.Created || Model.State == IncidentState.InProgress)
                            {
                                <button type="submit" class="button is-link is-light" form="formNotifyResponders">Notifikovať responderov</button>
                            }
                        </div>
                        
                        <div class="buttons">
                            @if (Model.State == IncidentState.Created || Model.State == IncidentState.InProgress)
                            {
                                <button type="submit" class="button is-danger is-light" form="formClose">@(Model.State == IncidentState.Created ? "Zrušiť zásah" : "Ukončiť zásah")</button>
                            }
                            <button type="submit" class="button is-danger" form="formDelete">Odstrániť zásah</button>
                        </div>
                    </div>
                </div>
            </section>
        </form>
        
        <form 
            asp-controller="Incidents" asp-action="SearchAndNotifyResponders" asp-route-incidentId="@Model.IncidentId" 
            id="formNotifyResponders" onSubmit="return confirm('Naozaj chcete vyhľadať dostupných responderov v okolí a notifikovať ich o zásahu?')"></form>
        <form 
            asp-controller="Incidents" asp-action="Close" asp-route-incidentId="@Model.IncidentId" 
            id="formClose" onSubmit="return confirm('Naozaj chcete definitívne @((Model.State == IncidentState.Created ? "zrušiť" : "ukončiť")) tento zásah?')"></form>
        <form 
            asp-controller="Incidents" asp-action="Delete" asp-route-incidentId="@Model.IncidentId" 
            id="formDelete" onSubmit="return confirm('Naozaj chcete odstrániť tento zásah a všetky jeho informácie?')"></form>
        
        <section style="opacity: 0.2">
            <header class="section-header">
                <h2 class="heading-with-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                    </svg>
                    Správy
                </h2>
        
                <button class="button">
                    Odoslať správu
                </button>
            </header>
            
            <div>
                <div class="message is-info">
                    <div class="message-body">
                        <strong>John Doe</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum felis venenatis efficitur.
                    </div>
                </div>
            </div>
        </section>
    </div>

    <aside class="entity-details-aside">
        <incident-sidebar-details
            incident-id="@Model.IncidentId"
            incident-lat="@Model.IncidentForm.Latitude.ToString().Replace(",", ".")"
            incident-lon=" @Model.IncidentForm.Longitude.ToString().Replace(",", ".")" 
        />
    </aside>
</div>