@using FirstResponder.ApplicationCore.Common.Extentions
@model FirstResponder.ApplicationCore.Incidents.DTOs.IncidentDTO
<header class="main-header">
    <h1>@Model.IncidentForm.Address</h1>
    <div class="buttons">
        <a asp-controller="Incidents" asp-action="Index" class="button button-with-icon">
            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
                </svg>
            </span>
            <span>Prehľad zásahov</span>
        </a>
    </div>
</header>

<partial name="_SuccessMessage" />

<div class="entity-details-page">
    <div class="entity-details-form">
        <form asp-controller="Incidents" asp-action="Edit" asp-route-incidentId="@Model.IncidentId">
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="message is-danger">
                    <div asp-validation-summary="All" class="message-body mb-1"></div>
                </div>
            }
            
            <section class="form-section">
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <label class="label">Začiatok</label>
                            <div class="control">
                                <input asp-for="CreatedAt" type="text" class="input" disabled>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Koniec</label>
                            <div class="control">
                                <input asp-for="ResolvedAt" type="text" class="input" disabled>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Stav</label>
                    <div class="control">
                        <input value="@Model.State.GetDisplayAttributeValue()" type="text" class="input" disabled>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Adresa *</label>
                    <div class="control">
                        <textarea asp-for="IncidentForm.Address" class="textarea" rows="2" required=""></textarea>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Pacient</label>
                    <div class="control">
                        <input asp-for="IncidentForm.Patient" class="input">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Diagnóza *</label>
                    <div class="control">
                        <textarea  asp-for="IncidentForm.Diagnosis" class="textarea" rows="4" required></textarea>
                    </div>
                </div>
                
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <label class="label">Zemepisná šírka *</label>
                            <div class="control">
                                <input asp-for="IncidentForm.Latitude" class="input" type="number" step=".000001" min="-90" max="90" required>
                            </div>
                        </div>
        
                        <div class="field">
                            <label class="label">Zemepisná dĺžka *</label>
                            <div class="control">
                                <input asp-for="IncidentForm.Longitude" class="input" type="number" step=".000001" min="-90" max="90" required>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <div class="control flex-space-between">
                        <button id="submit-btn" type="submit" class="button is-link">Aktualizovať</button>
                        <button type="submit" class="button is-danger is-light" form="formDelete">Odstrániť zásah</button>
                    </div>
                </div>
            </section>
            
        </form>
        <form asp-controller="Incidents" asp-action="Delete" asp-route-incidentId="@Model.IncidentId" id="formDelete" onSubmit="return confirm('Naozaj chcete odstrániť tento zásah?') "></form>
        
        <section style="opacity: 0.2">
            <header class="section-header">
                <h2 class="heading-with-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                    </svg>
                    Správy
                </h2>
        
                <button class="button">
                    Odoslať správu
                </button>
            </header>
            
            <div>
                <div class="message is-info">
                    <div class="message-body">
                        <strong>John Doe</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum felis venenatis efficitur.
                    </div>
                </div>
            </div>
        </section>
        
    </div>

    <aside class="entity-details-aside">
        <section>
            <h2 class="heading-with-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
                Umiestnenie
            </h2>
            <map-with-markers 
                style="height: 300px; margin-bottom: 1rem;"
                :markers="[{
                    'lat': @Model.IncidentForm.Latitude.ToString().Replace(",", "."),
                    'lon': @Model.IncidentForm.Longitude.ToString().Replace(",", "."),
                    'icon': 'incident-icon'
                }]"
            />
        </section>
        
        
        <h2 class="heading-with-icon">
            <svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" viewBox="0 0 16 16">
                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
            </svg>
            Priradený Responderi
        </h2>

        @if (Model.Responders.Any())
        {
            <table class="table is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th>Responder</th>
                    <th>Dátum a čas potvrdenia</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var responder in Model.Responders)
                {
                    <tr>
                        <td>
                            <a asp-controller="Users" asp-action="Edit" asp-route-userId="@responder.ResponderId">@responder.FullName</a>
                        </td>
                        <td>@responder.AcceptedAt</td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <p>Doposiaľ žiadny Responder nepotvrdil účasť na tomto zásahu.</p>
        }
        
        <header class="section-header" style="opacity: 0.2;">
            <h2 class="heading-with-icon">
                <svg width="28" height="28" viewBox="0 0 500 500" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.79832 201.333C-17.2805 98.4708 52.7101 20.734 131.257 20.0131C171.625 19.3941 222.121 40.7359 249.035 92.2912C275.948 40.7359 326.444 19.3941 366.813 20.0131C445.36 20.734 515.35 98.4708 494.271 201.333C478.203 279.744 394.702 381.713 249.035 480.552C103.368 381.713 19.8668 279.744 3.79832 201.333ZM164.031 331.283L190.768 48.4749C209.15 59.0772 226.112 75.261 238.016 98.0647L244.335 110.173L214.174 250.673L327.999 168.283L277.857 395.135H307.363L248.319 460.766L213.116 378.72L242.623 389.081L258.995 262.813L164.031 331.283Z" fill="currentColor"/>
                </svg>
                AED
            </h2>
        </header>

        <table class="table is-striped is-narrow is-hoverable is-fullwidth" style="opacity: 0.2;">
            <thead>
            <tr>
                <th>Umiestnenie</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </aside>
</div>
