@using FirstResponder.ApplicationCore.Common.Enums
@model AedFormViewModel

<header class="main-header">
    <h1>Úprava AED</h1>
    <div class="buttons">
        <a asp-controller="Aed" asp-action="Index" class="button button-with-icon">
            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
                </svg>
            </span>
            <span>Prehľad AED</span>
        </a>
    </div>
</header>

<partial name="_SuccessMessage" />

<div class="entity-details-page">
    <div class="entity-details-form">
        <form asp-controller="Aed" asp-action="Edit" asp-route-aedId="@Model.AedFormDTO.AedId" enctype="multipart/form-data">
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="message is-danger">
                    <div asp-validation-summary="All" class="message-body mb-1"></div>
                </div>
            }
            
            <section class="form-section">
                <div class="field">
                    <label class="label">Registrácia</label>
                    <div class="control">
                        <input class="input" type="text" asp-for="AedFormDTO.CreatedAt" disabled>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Typ</label>
                    <div class="control">
                        <label style="margin-right: .5rem;">
                            <input type="radio" id="radio-public-aed" disabled @(Model.AedFormDTO.GeneralType == AedGeneralType.Public ? "checked" : "")>
                            Verejný
                        </label>
                        <label>
                            <input type="radio" id="radio-personal-aed" disabled @(Model.AedFormDTO.GeneralType == AedGeneralType.Personal ? "checked" : "")>
                            Osobný
                        </label>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Stav *</label>
                    <div class="control">
                        <div class="select select-full-width">
                            <select asp-for="AedFormDTO.State" asp-items="Html.GetEnumSelectList<AedState>()">
                            </select>
                        </div>
                    </div>
                </div>
            </section>
            
            <input type="file" multiple asp-for="AedPhotoFormFiles" id="AedPhotoFormFiles" style="display: none">
            <div id="remove-photo-inputs"></div>

            @if (Model.AedFormDTO.GeneralType == AedGeneralType.Public)
            {
                <partial name="_PublicAedFormPartial" model="Model"/>
            }

            @if (Model.AedFormDTO.GeneralType == AedGeneralType.Personal)
            {
                <div>
                    <personal-aed-owner-field
                        @if (Model?.AedFormDTO.Owner != null)
                        {
                            <text>
                                :selected-owner="{ id: '@Model.AedFormDTO.Owner.Id', fullName: '@Model.AedFormDTO.Owner.FullName', email: '@Model.AedFormDTO.Owner.Email' }"
                            </text>
                        }/>
                </div>
            }

            <partial name="_AedTechnicalDetailsFormPartial" model="Model"/>

            <div class="field">
                <div class="control flex-space-between">
                    <button id="submit-btn" type="submit" class="button is-link">Uložiť</button>
                    <button type="submit" class="button is-danger is-light" form="formDelete">Odstrániť AED</button>
                </div>
            </div>
        </form>
        <form asp-controller="Aed" asp-action="Delete" asp-route-aedId="@Model.AedFormDTO.AedId" id="formDelete" onSubmit="return confirm('Naozaj chcete odstrániť toto AED?') "></form>
    </div>

    <aside class="entity-details-aside">
        @if (Model.AedFormDTO.GeneralType == AedGeneralType.Public)
        {
            @if (Model.AedFormDTO.Latitude != null && Model.AedFormDTO.Longitude != null)
            {
                <section>
                    <h2 class="heading-with-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>
                        Umiestnenie
                    </h2>
                    <map-with-markers 
                        style="height: 300px; margin-bottom: 1rem;"
                        :markers="[{
                            'lat': @Model.AedFormDTO.Latitude.ToString().Replace(",", "."),
                            'lon': @Model.AedFormDTO.Longitude.ToString().Replace(",", "."),
                            'icon': 'aed-icon-@Model.AedFormDTO.State.ToString()',
                            'onClickUrl': '@Url.Action("Edit", "Aed", new { aedId = Model.AedFormDTO.AedId })'
                        }]"
                    />
                </section>
            }
        
            <section>
                <aed-image-uploader
                    
                    @if (Model.AedFormDTO.Photos != null && Model.AedFormDTO.Photos.Count > 0)
                    {
                        <text>:current-photos-prop="@Model.GetAedPhotosJS()"</text>
                    }
                    input-element-id="AedPhotoFormFiles"
                    remove-photo-inputs-id="remove-photo-inputs"
                />
            </section>
        }
    </aside>
</div>

@section Scripts
{
    <script>
        /**
        * Script for selecting availability of the AED.
        */
        @if(Model.AedFormDTO.GeneralType == AedGeneralType.Public)
        {
            <text>
                window.aedHelpers.displayCorrectAvailabilityFields();
            </text>
        }
        
        /**
        * Script for loading models based on the selected manufacturer.
        */
        window.aedHelpers.handleManufacturerModelSelects('manufacturer-select', 'model-select', '@Url.Action("Models", "Aed")')
    </script>
}