@model IEnumerable<FirstResponder.ApplicationCore.Entities.AedAggregate.Language>
@{
    ViewBag.Title = "Jazyky AED";
}

<header class="main-header">
    <h1>Jazyky AED</h1>
    
    <div class="buttons">
        <a asp-controller="Settings" asp-action="Aed" class="button button-with-icon">
            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
                </svg>
            </span>
            <span>Nastavenia AED</span>
        </a>
        <button class="button button-with-icon" id="btn-create-new-item">
            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
            </span>
            <span>Pridať jazyk</span>
        </button>
    </div>
</header>

<partial name="_SuccessMessage" />

@if(!ViewData.ModelState.IsValid)
{
    <div class="message is-danger">
        <div asp-validation-summary="All" class="message-body mb-1"></div>
    </div>
}

@if(TempData["ErrorMessages"] != null)
{
    var errorMessages = (object[])TempData["ErrorMessages"]!;

    foreach (var message in errorMessages)
    {
        <div class="message is-danger">
            <div class="message-body mb-1">@message</div>
        </div>
    }
}

<div class="field" style="opacity: 0.2;">
    <label class="label">Jazyk</label>
    <div class="control">
        <input class="input" type="text">
    </div>
</div>

<table class="table is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
    <tr>
        <th>Jazyk</th>
        <th></th>
    </tr>
    </thead>
    <tbody id="table-body">
    @foreach (var language in Model)
    {
        <tr>
            <td>
                <form asp-controller="AedLanguages" asp-action="Update" asp-route-languageId="@language.Id" method="post" class="in-place-edit-form">
                    <input type="text" name="Name" value="@language.Name" required class="input input-edit">
                    <button type="submit" class="save-edit-btn button button-with-icon is-success is-small">
                        <span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                            </svg>
                        </span>
                        <span>Uložiť</span>
                    </button>
                </form>
            </td>
            <td style="width: 0; vertical-align: middle;">
                <form asp-controller="AedLanguages" asp-action="Delete" asp-route-languageId="@language.Id" method="post" onSubmit="return confirm('Naozaj chcete odstrániť jazyk AED @language.Name?')">
                    <button type="submit" class="button button-with-icon is-danger is-small">
                        <span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                            </svg>
                        </span>
                        <span>Odstrániť</span>
                    </button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts
{
    <script>
        // Parametre pre manage-table-items.js
        const defaultNewItemInputValue = 'Jazyk';
        const newItemFormAction = '@Url.Action("Create", "AedLanguages")';
        const antiForgeryToken = '@Html.AntiForgeryToken()';
    </script>
    <script src="~/js/manage-table-items.js"></script>
}